* {
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

button {
    height: 50px;
    width: 40%;
    background-color: grey;
}

div.red {
    color: red;
}

div.green {
    color: green;
}

