* {
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.wall {
    height: 100vh;
    background: linear-gradient(#a8c7fa 0%, #a8c7fa 15%, #d5dbd8 15%, #d5dbd8 100%);
}

div.container {
    height: 100vh;
}

section.chat {
    border: 2px solid white;
    border-radius: 1rem;
    backdrop-filter: blur(10px);   
    width: 100%;
    padding: 5rem;
}